<!DOCTYPE html>
<html>
<head>
	<!-- Standard -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0">

    {% if page.title %}
    <title>{{ page.title }} &raquo; {{ site.title }} </title>
    <meta name="title" content="{{ page.title }} &raquo; {{ site.title}}" />
    {% else %}
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ page.title }}" />
    {% endif %}

	<!-- SEO Information -->
	<meta name="author" content="Evan Hmisty" />
	<meta name="email" content="hmisty@gmail.com" />
	<meta name="description" content="Technology For Fun." />
	<meta name="keywords" content="evan, hmisty, liu, qingyan, technology, fun, couchdb, coffeescript, node.js, javascript, html5, docpad, jquery, css3, git, nosql, ajax, html, web development, web design, nlp, git, programming, hacking, innovation, web 2.0"/>

	<!-- RSS Links -->
	<link href="http://hmisty.com/atom.xml" rel="alternate" title="Evan Hmisty" type="application/atom+xml" />

	<!-- Site CSS -->
	<link rel="stylesheet" href="/css/blog.css" type="text/css" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

	<!-- Script -->
    <script type="text/javascript">
        //<![CDATA[
        var disqus_shortname = 'liuqy';
        //]]> 
    </script>
</head>
{% if page.id %}
<body id="page-{{ page.id }}">
{% else %}
<body>
{% endif %}

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">EVAN HMISTY</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">HOME</a></li>
              <li><a href="/archive.xml">ARCHIVE</a></li>
              <li><a href="/atom.xml">FEED</a></li>
              <li><a href="/about.html">ABOUT ME</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <footer id="footer">
    &copy;{{ 'now' | date: "%Y" }}
    EVAN HMISTY - 
    <a href="/about.html">ABOUT ME</a>
        -
        <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a>
    </footer>

    <footer id="footer2">
        Powered By
        <a href="http://www.w3.org/TR/html5">html5</a>
        , 
        <a href="http://git-scm.com">git</a>
        ,
        <a href="http://pages.github.com">github pages</a>
        , 
        <a href="http://daringfireball.net/projects/markdown">markdown</a>
        ,
        <a href="http://twitter.github.com/bootstrap/">bootstrap</a>
        ,
        <a href="http://disqus.com">disqus</a>
        ,
        <a href="http://www.google.com/analytics">Google Analytics</a>
        .
    </footer>
 
    <!--script defer type="text/javascript">
            //<![CDATA[
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-7092935-5']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            //]]> 
        </script-->
</body>
</html>
