---
layout: default
---
<section id="entries">
<article class="entry" typeof="sioc:post" about="{{ site.url }}{{ page.url }}">
        <h1 property="dcterms:title">
            <a href="{{ site.url }}{{ page.url }}" property="dc:title">{{ page.title }}</a>
        </h1>
        <div class="date">By {{ page.author }} &middot; <span property="dc:created">{{ page.date | date_to_string }}</span></div>
        <div class="body" property="sioc:content">
            {{ content }}
        </div>
    </article>
</section>

<p>&nbsp;</p>

{% if site.related_posts.size > 0 %}
<section id="related">
	<h2>Related Posts</h2>
	<ul>
        {% for post in site.related_posts %}
        <li><span>{{ post.date | date_to_string }}</span>
			&raquo;
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}

<p>&nbsp;</p>

<section id="comments">
	<div id="disqus_thread"></div>
	<script defer>
        //<![CDATA[
        var disqus_identifier = '{{ page.id }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        //]]> 
	</script>
	<noscript>life would be cooler if you enabled javascript *sigh*</noscript>
</section>
